.preview-area {
    position: relative;
    width: 100%;
    background-color: #f0f8ff;
    border-left: 1px solid #ccc;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
  }
  
  .sprite-wrapper {
    position: absolute;
    left: 20px;
  }
  